/* Animations */
@keyframes spinning {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1D3557;
  padding: 2vh;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

li {
  list-style-type: none;
  padding: 10px 20px 10px 20px
}

li a {
  font-size: 24px;
  display: inline;
  text-decoration: none;
  color: white;
}

/* body styles */
body {
  background-color: #F1FAEE;
}

h1 {
  margin-top: 3vh;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 36px;
  color: #1D3557;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #457B9D;
}

/* form styles */
.pizza-choice {
  display: flex;
  justify-content: center;
}

p {
  font-size: 20px;
  color: #457B9D;
  text-align: center;
}

#pizza-form {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  padding-right: 5%;
}

select {
  display: block;
}

form {
  flex-direction: column;
  display: flex;
  align-items: center;
}

input {
  width: 25%;
  height: 3vh;
}

img {
  padding: 3%;
  animation-name: spinning;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}